<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <button>发送</button>
</body>
<script>
    var socket = io.connect('ws://127.0.0.1:3000');

</script>
</html>